.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color:  rgb(243, 227, 227);
}
.heading-container{    
  width: 60vw;
  display: grid;     
  grid-template-columns: minmax(10vw, 1fr) minmax(40vw, 1fr) minmax(10vw, 1fr);
  grid-template-rows: 1fr;
}
.heading {
  width: 50vw;
  background: rgb(219, 198, 198); 
  border: 1px solid red;
  display: grid;      
  grid-template-columns: repeat(auto-fill, minmax(9vw, 1fr));   
  justify-items: center;
  align-items: center;
}   
.menu {          
  padding-top: 20px; 
  padding-bottom: 20px;       
}
.menu-item {
  text-decoration: none;
  color: black;
}
.name-grid {
    width: 30vw;
    background-color: rgb(219, 198, 198);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15vh;
    padding: 30px;
}
.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.title {
      padding-top: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
}
.outer {
  width: 69vw;    
  border-bottom: 1px solid red;
  margin-bottom: 5vh;
}
.photo-grid{
  width: 69vw;
  padding: 10px 0;
  padding-left: 10px;    
  border: 1px solid red;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  row-gap: 1px;    
  position: relative;
  text-align: center;
  color: white;
}
.item {
  width: 16.5vw;
  height: 30vh;
  background-color: rgb(49, 47, 47);
}
.image {
  width: 15vw;
  height: 27vh;
  object-fit: cover;
  padding-top: 18px;
  
}  
.centered {
  width: 8vw;
  height: 8vh;
  background-color: rgb(248, 245, 245);  
  border: 1px solid rgb(49, 47, 47);  
  font-weight: 800;    
  position: absolute;
  transform: translate(-50%, -50%);
}
.about{        
  top: 50%;
  left: 14%;    
  padding-left: 25px;    
}
.skills {
  top: 50%;
  left: 39%;    
  padding-left: 27px;    
}
.projects {
  top: 50%;
  left: 63%;    
  padding-left: 15px;    
}
.contacts {
  top: 50%;
  left: 87%;    
  padding-left: 18px;    
}
.menu-color {
color: rgb(49, 47, 47);
}